

<div class="container">
    <h1>Edit Password</h1>
  	<hr>
	<div class="row">
      
      
      <!-- edit form column -->
     {{#if hasErrors}}
      <div class="alert alert-danger alert-dismissible  show rounded-pill" role="alert">
          {{#each messages}}
          <strong>Error!</strong> {{this}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          {{/each}}
      </div>
    {{/if}}

    {{#each user}}
        <div class="form-group">
            <span class="col-md-3"></span>
            <button type="button" class="btn btn-info" onclick="window.location.href= '/account/change-email'">Change email</button>
        </div>
        <form class="form-horizontal" role="form" action="/account/change-password" method="POST">
        <div class="form-group">
            <label class="col-md-3 control-label">Username</label>
            <div class="col-md-8">
              <input name="username" class="form-control"  type="text" readonly="readonly" value="{{userInfo.username}}">
            </div>
          </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Old password:</label>
            <div class="col-md-8">
              <input name="password" class="form-control" type="password" value="">
            </div>
          </div>
        <div class="form-group">
            <label class="col-md-3 control-label">New password:</label>
            <div class="col-md-8">
              <input name="newPass" class="form-control" type="password" value="">
            </div>
          </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input name="confirm_password" class="form-control" type="password" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" name="sendButton"  class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
  {{/each}}
</div>
<hr>

{{#if changePasswordSuccess}}
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            onOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: 'Change password successfully'
        })
    </script>
    {{/if}}

    {{#if changePasswordFailed}}
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            onOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'error',
            title: 'Change password failed, please try later'
        })
    </script>
    {{/if}}
