{{#section 'style'}}
<link href="/css/card.css" rel="stylesheet" type="text/css">
{{/section}}

<!-- Page Content -->
<div class="section">
    <div class="container py-2">

        <h2 class="my-4">Latest</h2>

        <!-- Marketing Icons Section -->
        <div class="row">
            <!-- Card Items -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body ">
                        <div class="timer d-flex justify-content-center">
                            <div>
                                <span class="num">04</span>
                                <small>Days</small>
                            </div>
                            <div>
                                <span class="num">12</span>
                                <small>Hours</small>
                            </div>
                            <div>
                                <span class="num">58</span>
                                <small>Min</small>
                            </div>
                            <div>
                                <span class="num">02</span>
                                <small>Sec</small>
                            </div>
                        </div>
                        <hr class="my-2" />

                        <div class="product-grid pb-0">
                            <div class="product-image ">
                                <a href="#">
                                    <img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg"
                                        alt="" srcset="" />
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" data-tip="Quick View"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                                <span class="product-new-label">Sale</span>
                                <span class="product-discount-label"><i class="far fa-clock pr-2"></i>07/24/2018</span>
                            </div>

                            <!-- Title -->
                            <h2 class=" font-weight-bold ">
                                Nike 3
                            </h2>
                            <!-- Text -->
                            <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
                            <div class="d-flex justify-content-between">
                                <p class="align-self-end ">
                                    Current Price:
                                </p>
                                <h3 class="display-5 align-self-end">
                                    887.32 $
                                </h3>
                            </div>

                            <!-- Text -->
                            <div class="d-flex justify-content-between">
                                <p>
                                    <i class="fas fa-users fa-lg text-info pr-2"></i> 33 bidders
                                </p>
                                <p>
                                    <i class="fas fa-trophy grey-text pr-2"></i>Trinh Tan Tai
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body ">
                        <div class="timer d-flex justify-content-center">
                            <div>
                                <span class="num">04</span>
                                <small>Days</small>
                            </div>
                            <div>
                                <span class="num">12</span>
                                <small>Hours</small>
                            </div>
                            <div>
                                <span class="num">58</span>
                                <small>Min</small>
                            </div>
                            <div>
                                <span class="num">02</span>
                                <small>Sec</small>
                            </div>
                        </div>
                        <hr class="my-2" />

                        <div class="product-grid pb-0">
                            <div class="product-image ">
                                <a href="#">
                                    <img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg"
                                        alt="" srcset="" />
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" data-tip="Quick View"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                                <span class="product-new-label">Sale</span>
                                <span class="product-discount-label"><i class="far fa-clock pr-2"></i>07/24/2018</span>
                            </div>

                            <!-- Title -->
                            <h2 class=" font-weight-bold ">
                                Nike 3
                            </h2>
                            <!-- Text -->
                            <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
                            <div class="d-flex justify-content-between">
                                <p class="align-self-end ">
                                    Current Price:
                                </p>
                                <h3 class="display-5 align-self-end">
                                    887.32 $
                                </h3>
                            </div>

                            <!-- Text -->
                            <div class="d-flex justify-content-between">
                                <p>
                                    <i class="fas fa-users fa-lg text-info pr-2"></i> 33 bidders
                                </p>
                                <p>
                                    <i class="fas fa-trophy grey-text pr-2"></i>Trinh Tan Tai
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body ">
                        <div class="timer d-flex justify-content-center">
                            <div>
                                <span class="num">04</span>
                                <small>Days</small>
                            </div>
                            <div>
                                <span class="num">12</span>
                                <small>Hours</small>
                            </div>
                            <div>
                                <span class="num">58</span>
                                <small>Min</small>
                            </div>
                            <div>
                                <span class="num">02</span>
                                <small>Sec</small>
                            </div>
                        </div>
                        <hr class="my-2" />

                        <div class="product-grid pb-0">
                            <div class="product-image ">
                                <a href="#">
                                    <img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg"
                                        alt="" srcset="" />
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" data-tip="Quick View"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                                <span class="product-new-label">Sale</span>
                                <span class="product-discount-label"><i class="far fa-clock pr-2"></i>07/24/2018</span>
                            </div>

                            <!-- Title -->
                            <h2 class=" font-weight-bold ">
                                Nike 3
                            </h2>
                            <!-- Text -->
                            <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
                            <div class="d-flex justify-content-between">
                                <p class="align-self-end ">
                                    Current Price:
                                </p>
                                <h3 class="display-5 align-self-end">
                                    887.32 $
                                </h3>
                            </div>

                            <!-- Text -->
                            <div class="d-flex justify-content-between">
                                <p>
                                    <i class="fas fa-users fa-lg text-info pr-2"></i> 33 bidders
                                </p>
                                <p>
                                    <i class="fas fa-trophy grey-text pr-2"></i>Trinh Tan Tai
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <h2 class="my-4">Latest</h2>

        <!-- Marketing Icons Section -->
        <div class="row">
            <!-- Card Items -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body ">
                        <div class="timer d-flex justify-content-center">
                            <div>
                                <span class="num">04</span>
                                <small>Days</small>
                            </div>
                            <div>
                                <span class="num">12</span>
                                <small>Hours</small>
                            </div>
                            <div>
                                <span class="num">58</span>
                                <small>Min</small>
                            </div>
                            <div>
                                <span class="num">02</span>
                                <small>Sec</small>
                            </div>
                        </div>
                        <hr class="my-2" />

                        <div class="product-grid pb-0">
                            <div class="product-image ">
                                <a href="#">
                                    <img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg"
                                        alt="" srcset="" />
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" data-tip="Quick View"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                                <span class="product-new-label">Sale</span>
                                <span class="product-discount-label"><i class="far fa-clock pr-2"></i>07/24/2018</span>
                            </div>

                            <!-- Title -->
                            <h2 class=" font-weight-bold ">
                                Nike 3
                            </h2>
                            <!-- Text -->
                            <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
                            <div class="d-flex justify-content-between">
                                <p class="align-self-end ">
                                    Current Price:
                                </p>
                                <h3 class="display-5 align-self-end">
                                    887.32 $
                                </h3>
                            </div>

                            <!-- Text -->
                            <div class="d-flex justify-content-between">
                                <p>
                                    <i class="fas fa-users fa-lg text-info pr-2"></i> 33 bidders
                                </p>
                                <p>
                                    <i class="fas fa-trophy grey-text pr-2"></i>Trinh Tan Tai
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body ">
                        <div class="timer d-flex justify-content-center">
                            <div>
                                <span class="num">04</span>
                                <small>Days</small>
                            </div>
                            <div>
                                <span class="num">12</span>
                                <small>Hours</small>
                            </div>
                            <div>
                                <span class="num">58</span>
                                <small>Min</small>
                            </div>
                            <div>
                                <span class="num">02</span>
                                <small>Sec</small>
                            </div>
                        </div>
                        <hr class="my-2" />

                        <div class="product-grid pb-0">
                            <div class="product-image ">
                                <a href="#">
                                    <img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg"
                                        alt="" srcset="" />
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" data-tip="Quick View"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                                <span class="product-new-label">Sale</span>
                                <span class="product-discount-label"><i class="far fa-clock pr-2"></i>07/24/2018</span>
                            </div>

                            <!-- Title -->
                            <h2 class=" font-weight-bold ">
                                Nike 3
                            </h2>
                            <!-- Text -->
                            <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
                            <div class="d-flex justify-content-between">
                                <p class="align-self-end ">
                                    Current Price:
                                </p>
                                <h3 class="display-5 align-self-end">
                                    887.32 $
                                </h3>
                            </div>

                            <!-- Text -->
                            <div class="d-flex justify-content-between">
                                <p>
                                    <i class="fas fa-users fa-lg text-info pr-2"></i> 33 bidders
                                </p>
                                <p>
                                    <i class="fas fa-trophy grey-text pr-2"></i>Trinh Tan Tai
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body ">
                        <div class="timer d-flex justify-content-center">
                            <div>
                                <span class="num">04</span>
                                <small>Days</small>
                            </div>
                            <div>
                                <span class="num">12</span>
                                <small>Hours</small>
                            </div>
                            <div>
                                <span class="num">58</span>
                                <small>Min</small>
                            </div>
                            <div>
                                <span class="num">02</span>
                                <small>Sec</small>
                            </div>
                        </div>
                        <hr class="my-2" />

                        <div class="product-grid pb-0">
                            <div class="product-image ">
                                <a href="#">
                                    <img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg"
                                        alt="" srcset="" />
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" data-tip="Quick View"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                                <span class="product-new-label">Sale</span>
                                <span class="product-discount-label"><i class="far fa-clock pr-2"></i>07/24/2018</span>
                            </div>

                            <!-- Title -->
                            <h2 class=" font-weight-bold ">
                                Nike 3
                            </h2>
                            <!-- Text -->
                            <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
                            <div class="d-flex justify-content-between">
                                <p class="align-self-end ">
                                    Current Price:
                                </p>
                                <h3 class="display-5 align-self-end">
                                    887.32 $
                                </h3>
                            </div>

                            <!-- Text -->
                            <div class="d-flex justify-content-between">
                                <p>
                                    <i class="fas fa-users fa-lg text-info pr-2"></i> 33 bidders
                                </p>
                                <p>
                                    <i class="fas fa-trophy grey-text pr-2"></i>Trinh Tan Tai
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <h2 class="my-4">Latest</h2>

        <!-- Marketing Icons Section -->
        <div class="row">
            <!-- Card Items -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body ">
                        <div class="timer d-flex justify-content-center">
                            <div>
                                <span class="num">04</span>
                                <small>Days</small>
                            </div>
                            <div>
                                <span class="num">12</span>
                                <small>Hours</small>
                            </div>
                            <div>
                                <span class="num">58</span>
                                <small>Min</small>
                            </div>
                            <div>
                                <span class="num">02</span>
                                <small>Sec</small>
                            </div>
                        </div>
                        <hr class="my-2" />

                        <div class="product-grid pb-0">
                            <div class="product-image ">
                                <a href="#">
                                    <img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg"
                                        alt="" srcset="" />
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" data-tip="Quick View"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                                <span class="product-new-label">Sale</span>
                                <span class="product-discount-label"><i class="far fa-clock pr-2"></i>07/24/2018</span>
                            </div>

                            <!-- Title -->
                            <h2 class=" font-weight-bold ">
                                Nike 3
                            </h2>
                            <!-- Text -->
                            <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
                            <div class="d-flex justify-content-between">
                                <p class="align-self-end ">
                                    Current Price:
                                </p>
                                <h3 class="display-5 align-self-end">
                                    887.32 $
                                </h3>
                            </div>

                            <!-- Text -->
                            <div class="d-flex justify-content-between">
                                <p>
                                    <i class="fas fa-users fa-lg text-info pr-2"></i> 33 bidders
                                </p>
                                <p>
                                    <i class="fas fa-trophy grey-text pr-2"></i>Trinh Tan Tai
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body ">
                        <div class="timer d-flex justify-content-center">
                            <div>
                                <span class="num">04</span>
                                <small>Days</small>
                            </div>
                            <div>
                                <span class="num">12</span>
                                <small>Hours</small>
                            </div>
                            <div>
                                <span class="num">58</span>
                                <small>Min</small>
                            </div>
                            <div>
                                <span class="num">02</span>
                                <small>Sec</small>
                            </div>
                        </div>
                        <hr class="my-2" />

                        <div class="product-grid pb-0">
                            <div class="product-image ">
                                <a href="#">
                                    <img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg"
                                        alt="" srcset="" />
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" data-tip="Quick View"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                                <span class="product-new-label">Sale</span>
                                <span class="product-discount-label"><i class="far fa-clock pr-2"></i>07/24/2018</span>
                            </div>

                            <!-- Title -->
                            <h2 class=" font-weight-bold ">
                                Nike 3
                            </h2>
                            <!-- Text -->
                            <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
                            <div class="d-flex justify-content-between">
                                <p class="align-self-end ">
                                    Current Price:
                                </p>
                                <h3 class="display-5 align-self-end">
                                    887.32 $
                                </h3>
                            </div>

                            <!-- Text -->
                            <div class="d-flex justify-content-between">
                                <p>
                                    <i class="fas fa-users fa-lg text-info pr-2"></i> 33 bidders
                                </p>
                                <p>
                                    <i class="fas fa-trophy grey-text pr-2"></i>Trinh Tan Tai
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body ">
                        <div class="timer d-flex justify-content-center">
                            <div>
                                <span class="num">04</span>
                                <small>Days</small>
                            </div>
                            <div>
                                <span class="num">12</span>
                                <small>Hours</small>
                            </div>
                            <div>
                                <span class="num">58</span>
                                <small>Min</small>
                            </div>
                            <div>
                                <span class="num">02</span>
                                <small>Sec</small>
                            </div>
                        </div>
                        <hr class="my-2" />

                        <div class="product-grid pb-0">
                            <div class="product-image ">
                                <a href="#">
                                    <img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg"
                                        alt="" srcset="" />
                                </a>
                                <ul class="social">
                                    <li>
                                        <a href="" data-tip="Quick View"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a>
                                    </li>
                                    <li>
                                        <a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                                <span class="product-new-label">Sale</span>
                                <span class="product-discount-label"><i class="far fa-clock pr-2"></i>07/24/2018</span>
                            </div>

                            <!-- Title -->
                            <h2 class=" font-weight-bold ">
                                Nike 3
                            </h2>
                            <!-- Text -->
                            <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
                            <div class="d-flex justify-content-between">
                                <p class="align-self-end ">
                                    Current Price:
                                </p>
                                <h3 class="display-5 align-self-end">
                                    887.32 $
                                </h3>
                            </div>

                            <!-- Text -->
                            <div class="d-flex justify-content-between">
                                <p>
                                    <i class="fas fa-users fa-lg text-info pr-2"></i> 33 bidders
                                </p>
                                <p>
                                    <i class="fas fa-trophy grey-text pr-2"></i>Trinh Tan Tai
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
</div>