<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/vendors/css/bootstrap.min.css" />


    <!-- Font awesome 5 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-0c38nfCMzF8w8DBI+9nTWzApOpr1z0WuyswL4y6x/2ZTtmj/Ki5TedKeUcFusC/k" crossorigin="anonymous" />

    <!-- Font awesome 4 -->
    <link rel="stylesheet" href="/vendors/css/font-awesome.min.css">
    <link href="/css/login/login.css" rel="stylesheet" type="text/css">


    <!-- jQuery Plugins -->
    <script src="/vendors/js/jquery.min.js"></script>
    <script src="/vendors/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url('/img/bg-login.webp');background-size: cover;">
    <!-- =========================  CONTENT ========================= -->
    <div class=" container mt-4" style="margin-top: 40px">
        <div class=" signin-form">
            <form action="/auth/login" method="post">
                <h2>Đăng nhập</h2>
                <p class="hint-text">Đăng nhập với một trong liên kết dưới đây</p>
                <div class="social-btn text-center">
                    <a href="/auth/fb" class="btn btn-primary btn-lg" title="Facebook"><i
                            class="fa fa-facebook"></i></a>
                    <a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="btn btn-danger btn-lg" title="Google"><i class="fa fa-google"></i></a>
                </div>
                <div class="or-seperator"><b>or </b></div>
                {{#if hasErrors}}
                <div class="alert alert-danger alert-dismissible  show rounded-pill" role="alert">
                    {{#each messages}}
                    <strong>Error!</strong> {{this}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{/each}}
                </div>
                {{/if}}
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="username" placeholder="Username"
                        required="required" value="{{dataForm.username}}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" name="password" placeholder="Password"
                        required="required" value="{{dataForm.password}}">
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Nhớ mật khẩu</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Đăng nhập</button>
                </div>
                <div class="text-center small"><a href="/auth/reset-password">Quên mật khẩu?</a></div>
            </form>
            <div class="text-center small" style="color: honeydew;">Bạn chưa có tài khoản? <a href="/auth/register">Đăng
                    kí ngay</a></div>
        </div>
    </div>
    <!-- =========================  CONTENT END// ========================= -->
</body>

</html>