<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/vendors/css/bootstrap.min.css" />


    <!-- Font awesome 5 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-0c38nfCMzF8w8DBI+9nTWzApOpr1z0WuyswL4y6x/2ZTtmj/Ki5TedKeUcFusC/k" crossorigin="anonymous" />

    <!-- Font awesome 4 -->
    <link rel="stylesheet" href="/vendors/css/font-awesome.min.css">
    <link href="/css/login/login.css" rel="stylesheet" type="text/css">


    <!-- jQuery Plugins -->
    <script src="/vendors/js/jquery.min.js"></script>
    <script src="/vendors/js/bootstrap.min.js"></script>

    <!-- SweetAlert2-->
    <script src="/js/sweetalert2.all.min.js"></script>

</head>

<body style="background-image: url('/img/bg-login.webp');background-size: cover;">
    <!-- =========================  CONTENT ========================= -->
    <div class=" container mt-4">
        <div class="form-gap" style="margin-top:70px;"></div>
    <div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                    {{#if hasErrors}}
                        <div class="alert alert-danger alert-dismissible  show rounded-pill" role="alert">
                        <strong>{{message}}</strong> 
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>   
                        </div>
                    {{/if}}
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
    </div>
    <!-- =========================  CONTENT END// ========================= -->

    {{#if ResetPasswordSuccess}}
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Reset Password',
            text: 'We have sent your new password to your email',
})
        var timer = setTimeout(function() {
            window.location='/auth/login'
        }, 5000);
    </script>
    {{/if}}

</body>

</html>